<div class="bodywrap">
<div class="overlay">

<a href="#/landingpage"><i class="fa fa-arrow-circle-o-left"></i></i></a>
<div class="textwraper">
  <div class="header">
	<h1><b>INDIEZ</b></h1>
  </div>
   <div >
 	<h2 class="disc2">We enable organizations to hire<br>A+ development teams on demand.<br><br>

We onboard top 1% developers only<br>and build software, apps, websites.<br>Hire the best. Delivery guaranteed.
	</h2>
   </div>

  

 
    <a id="Intercom" href="mailto:hs1ljryq@incoming.intercom.io">
<button type="button" class="btnchat second" ><b>CHAT WITH US</b></button></a> 

</div>
</div>
</div>