<div class="bodywrap1">
<div class="overlay">

<div class="textwraper">
  <div class="header">
	<h1><b>INDIEZ</b></h1>
  </div>
   <div >
 	<h2 class="disc">THE <BR>FUTURE<br> OF WORK <br>IS HERE</h2>
   </div>
  <div class="triangle">
  </div>
<i class="fa fa-arrow-circle-o-down"></i>
  <h2><b>FOR</b></h2>
   <a href="#/home">
 <button type="button" class="btnchat first"><b>ORGANIZATIONS</b></button></a> 
    <a  href="#/pro" >
<button type="button" class="btnchat second" ><b>PROFESSIONALS</b></button></a> 

</div>

</div>
</div>