<div class="bodywrap2">
<div class="overlay">
<a href="#/landingpage"><i class="fa fa-arrow-circle-o-left"></i></i></a>
<div class="textwraper">
  <div class="header">
	<h1><b>INDIEZ</b></h1>
  </div>
   <div >
 	<h2 class="disc2">We're a community of awesome<br>freelancers - product managers,<br>software developers and designers.<br><br>

Indiez work when they want,<br>where they want, on what they want.</h2>
   </div>

  

 
    <a id="Intercom" href="mailto:hs1ljryq@incoming.intercom.io">
<button type="button" class="btnchat third" ><b>JOIN THE COMMUNITY</b></button></a> 

</div>
</div>
</div>